@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvgUE.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v47/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9ogUE.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
*:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
*:focus {
  outline: hidden;
}
.df {
  display: flex;
}
.jb {
  justify-content: space-between;
}
.vc {
  align-items: center;
}
.jc {
  justify-content: center;
}
.fc {
  flex-direction: column;
}
.dfc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.center {
  text-align: center;
}
.anim {
  transition: all ease 0.2s;
}
a {
  text-decoration: none;
  color: #000000;
  transition: all ease 0.2s;
}
li {
  list-style-type: none;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
body {
  font-family: "Oswald", sans-serif;
  background: white;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
header {
  background-color: #ffffff;
  padding: 11px 0 30px;
}
header .header-top {
  padding-bottom: 17px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  border-bottom: 1px solid #eeeeee;
}
header .header-top .block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-top .contacts a {
  margin-right: 27px;
}
header .header-top .contacts a svg {
  margin-right: 6px;
  position: relative;
  top: 3px;
}
header .header-top .social {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
header .header-top .social .lang svg {
  position: relative;
  top: -2px;
  left: 1px;
}
header .header-top .social-links {
  display: flex;
  justify-content: space-between;
  gap: 19px;
}
header .header-top .social-links a {
  transition: all ease 0.2s;
}
header .header-top .social-links a:hover svg path {
  fill: #76a713;
}
header .header-bottom {
  padding-top: 25px;
}
header .header-bottom .block {
  display: flex;
  justify-content: space-between;
}
header .header-bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bottom-right .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
  margin-right: 48px;
}
header .header-bottom-right .nav-links a {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transition: all ease 0.2s;
}
header .header-bottom-right .nav-links a:hover {
  color: #76a713;
}
header .header-bottom-right .header-buttons {
  display: flex;
  gap: 10px;
}
header .header-bottom-right .header-buttons .button {
  height: 40px;
  width: 40px;
  background: #eeeeee;
}
header .header-bottom-right .header-buttons .login {
  background: #76a713;
  width: 100px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
header .header-bottom-right .header-buttons .cart {
  position: relative;
}
header .header-bottom-right .header-buttons .cart svg {
  position: relative;
  top: 3px;
  right: 4px;
}
header .header-bottom-right .header-buttons .cart .counter {
  min-width: 13px;
  padding: 0 3px;
  height: 13px;
  position: absolute;
  top: 9px;
  right: 8px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  color: #ffffff;
  background: #76a713;
  border-radius: 50%;
}
.sec1 {
  padding-top: 100px;
  padding-bottom: 200px;
  background: rgba(118, 167, 19, 0.31);
}
.sec1 .block {
  width: 100%;
  position: relative;
}
.sec1 .t1 {
  display: flex;
  flex-direction: column-reverse;
  font-family: Oswald;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sec1 .t1 .tt1 {
  font-size: 80px;
  line-height: 119px;
  color: #191d28;
}
.sec1 .t1 .tt2 {
  font-size: 50px;
  line-height: 74px;
  color: #76a713;
  margin-bottom: 10px;
}
.sec1 .t2 {
  margin-top: 26px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 15px 37px;
  background: #76a713;
}
.sec1 .block-right {
  position: relative;
}
.sec1 .block-right img {
  position: relative;
  top: -20px;
  left: 12px;
}
.sec1 .block-right .text-rotate {
  position: absolute;
  top: 135px;
  right: -113px;
  font-family: Oswald;
  font-weight: 500;
  font-size: 90px;
  line-height: 133px;
  -webkit-text-stroke: 4px rgba(118, 167, 19, 0.2);
  transform: rotate(-90deg);
  color: transparent;
}
.sec1 .swiper-slide {
  display: flex;
  overflow-x: visible;
}
.sec1 .s1swiper {
  position: relative;
}
.sec1 .s1swiper-buttons {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #76a713;
  background: transparent;
  top: 180px;
  z-index: 99;
  cursor: pointer;
  transition: all ease 0.2s;
}
.sec1 .s1swiper-buttons svg {
  position: relative;
  top: 4px;
  left: 11px;
}
.sec1 .s1swiper-buttons svg path {
  fill: black;
}
.sec1 .s1swiper-buttons:hover {
  background-color: #76a713;
}
.sec1 .s1swiper-buttons:hover svg path {
  fill: white;
}
.sec1 .s1swiper-button-prev {
  left: -70px;
}
.sec1 .s1swiper-button-next {
  right: -70px;
}
.sec2 {
  margin-bottom: 70px;
}
.sec2-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 70px 0;
  border: 1.5px solid #dddddd;
  transform: translateY(-50%);
}
.sec2-top .item {
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.sec2-top .item:not(:last-child) {
  border-right: 1px solid #dddddd;
}
.sec2-top .item .img {
  margin-right: 20px;
}
.sec2-top .item .text .t1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #000000;
}
.sec2-top .item .text .t2 {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}
.sec2-main {
  display: flex;
  gap: 25px;
}
.sec2-main .left {
  display: flex;
  gap: 30px;
}
.sec2-main .left .t1 img {
  height: 100%;
  object-fit: cover;
}
.sec2-main .left .t2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec2-main .left .t2 .tt1 {
  padding: 8px 60px;
  border: 1.5px dashed rgba(118, 167, 19, 0.5);
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #76a713;
  letter-spacing: 0.03em;
}
.sec2-main .left .t2 .tt1_big {
  font-size: 30px;
  line-height: 44px;
}
.sec2-main .right .t1 {
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  color: #191d28;
  transform: translateY(-23px);
}
.sec2-main .right .t2 {
  margin: 0px 0 35px;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #888888;
}
.sec2-main .right .t3 {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  border-left: 2px solid #76a713;
  font-family: Gilroy;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #aaaaaa;
}
.sec2-main .right .t3::after {
  position: absolute;
  content: url(../img/quote.svg);
  width: 28px;
  height: 20px;
  top: 31px;
  right: 173px;
}
.sec2-main .right .t4 .tt1 {
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.sec2-main .right .t4 .tt2 {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #aaaaaa;
}
.block-categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.block-categories .item {
  width: 270px;
  border: 1px solid #76a713;
  padding: 23px 23px 30px;
  transition: all ease 0.2s;
  text-align: center;
}
.block-categories .item .img {
  height: 130px;
  margin-bottom: 5px;
}
.block-categories .item .img img {
  height: 100%;
}
.block-categories .item .t1 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #000000;
}
.block-categories .item .t2 {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #888888;
  margin: 13px 0 27px;
}
.block-categories .item .t3 {
  min-width: 40px;
  height: 40px;
  border: 1px solid #76a713;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  margin: 0 auto;
}
.block-categories .item .t3 span {
  display: none;
  padding: 0 18px;
}
.block-categories .item:hover {
  border-color: #dddddd;
  background: #ffffff;
}
.block-categories .item:hover .t1 {
  color: #76a713;
}
.block-categories .item:hover .t3 {
  background-color: #76a713;
  transition: all ease 0.2s;
}
.block-categories .item:hover .t3 img {
  display: none;
}
.block-categories .item:hover .t3 span {
  display: block;
}
.block-categories .item:hover .t3:hover {
  background-color: #3d5a02;
}
.sec3 {
  background-color: #f8f8f8;
  padding: 100px 0;
}
.banners {
  display: flex;
}
.banners .banner {
  width: 50%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  color: #ffffff;
}
.banners .banner img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.banners .banner .txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  width: 247px;
}
.banners .banner .txt .t1 {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}
.banners .banner .txt .t2 {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 40px;
  line-height: 59px;
  margin: 12px 0;
}
.banners .banner .txt a {
  padding: 10px 18px;
  font-family: "Gilroy";
  font-weight: 700;
  align-self: flex-end;
  color: white;
}
.banners .banner.bg-green {
  background-color: #76a713;
}
.banners .banner.bg-green .txt a {
  background-color: #ff6600;
}
.banners .banner.bg-orange {
  background-color: #ff6600;
}
.banners .banner.bg-orange .txt a {
  background-color: #76a713;
}
.block-btns {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-btns button {
  background: #ebebeb;
  padding: 4px 17px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  border: none;
  margin: 0 5px;
}
.block-btns button.active,
.block-btns button:hover {
  background: #76a713;
  color: white;
}
.block-products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.product-card {
  width: 370px;
  position: relative;
  transition: all ease 0.2s;
}
.product-card .offer {
  background: #ff6600;
  position: absolute;
  padding: 4px 10px;
  left: 0;
  top: 19px;
  font-weight: 600;
  font-size: 11px;
  color: #ffffff;
}
.product-card .hover-btns {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  flex-direction: column;
}
.product-card .hover-btns button {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card .hover-btns button:not(:last-child) {
  margin-bottom: 10px;
}
.product-card:hover {
  box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);
}
.product-card:hover .img {
  border-color: #76a713;
  border-width: 2px;
}
.product-card:hover .hover-btns {
  display: flex;
}
.product-card .img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 340px;
  border: 1px solid #dddddd;
  border-bottom: none;
}
.product-card .img img {
  max-width: 90%;
}
.product-card .txt {
  background: #f8f8f8;
  padding: 24px 0 30px;
  text-align: center;
}
.product-card .txt a {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 24px;
  color: #000000;
}
.product-card .txt .price {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 16px;
  color: #76a713;
  margin: 10px 0;
}
.product-card .txt .price span {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
}
.product-card .txt button {
  background: #76a713;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 10px 17px;
  display: inline-block;
  margin-top: 30px;
}
.sec4 {
  padding: 77px 0 100px;
}
h2.title {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 42px;
  color: #191d28;
}
.sec6 {
  padding-top: 77px;
}
.sec6 .bgblock {
  background-color: #76a713;
  background-image: url(../img/bgbl.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 100px;
  padding: 56px 64px;
  display: flex;
  justify-content: space-between;
}
.sec6 .bgblock .item {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
}
.sec6 .bgblock .item b {
  display: block;
  margin-bottom: 10px;
}
.sec6 .bgblock .item span {
  display: block;
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.sec8 {
  padding: 77px 0 250px;
}
.blog-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.article {
  width: 370px;
}
.article:hover {
  box-shadow: 0px 16px 45px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.article:hover .txt h3 a {
  color: #76a713;
}
.article .img {
  height: 250px;
  position: relative;
}
.article .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article .txt {
  padding: 30px 20px;
  border: 1px solid #dddddd;
  border-top: none;
}
.article .txt .admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article .txt .admin a {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #000000;
}
.article .txt .admin a img {
  margin-right: 9px;
}
.article .txt h3 {
  margin: 19px 0;
}
.article .txt h3 a {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  color: #000000;
}
.article .txt .foot {
  border-top: 1px solid #dddddd;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article .txt .foot .date {
  font-weight: 700;
  font-size: 11px;
  color: #000000;
  display: flex;
  align-items: center;
}
.article .txt .foot .date img {
  margin-right: 9px;
}
.article .txt .foot a {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 150%;
  color: #76a713;
  display: flex;
  align-items: center;
}
.article .txt .foot a svg {
  margin-left: 5px;
}
.footer {
  background: #191d28;
}
.footer_subscribe_block {
  transform: translateY(-50%);
}
.footer_main {
  display: flex;
}
.footer_main .t1 {
  font-family: "Oswald";
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 33px;
}
.footer_main .left {
  display: flex;
  gap: 30px;
  margin-right: 200px;
}
.footer_main .left .about .logo {
  margin-bottom: 30px;
}
.footer_main .left .about_txt {
  width: 270px;
  margin-bottom: 30px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
}
.footer_main .left .about .social {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer_main .left .about .social a {
  transition: all ease 0.2s;
}
.footer_main .left .about .social a:hover svg path {
  fill: #76a713;
}
.footer_main .left .links li {
  margin-bottom: 15px;
}
.footer_main .left .links li a {
  position: relative;
  padding-left: 15px;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  transition: all ease 0.2s;
}
.footer_main .left .links li a::before {
  position: absolute;
  content: url(../img/dot.svg);
  left: 0px;
  top: -3px;
}
.footer_main .left .links li a:hover {
  color: #76a713;
}
.footer_main .right {
  display: flex;
}
.footer_main .right .blog_posts {
  margin-right: 30px;
}
.footer_main .right .blog_posts ul li a {
  display: flex;
  gap: 14px;
  margin-bottom: 10px;
}
.footer_main .right .blog_posts ul li a .title {
  width: 184px;
  height: 46px;
  overflow: hidden;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer_main .right .blog_posts ul li a .date {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 13px;
  color: #cccccc;
}
.footer_main .right .blog_posts ul li a .img {
  width: 70px;
  height: 70px;
  position: relative;
}
.footer_main .right .blog_posts ul li a .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer_main .right .contacts {
  width: 188px;
}
.footer_main .right .contacts a,
.footer_main .right .contacts p {
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #cccccc;
}
.footer_main .right .contacts_info a {
  display: block;
  margin-bottom: 22px;
}
.footer_main .right .contacts_info a svg {
  margin-right: 5px;
}
.footer_main .right .contacts_hours h4 {
  margin-bottom: 15px;
  font-family: "Oswald";
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}
.subscribe_block {
  position: relative;
  min-height: 250px;
  background: #76a713;
  padding: 47px 102px 46px 0;
}
.subscribe_block .img {
  position: absolute;
  left: -60px;
  top: -120px;
  width: 451px;
  height: 451px;
}
.subscribe_block .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subscribe_block .txt {
  position: relative;
  width: 560px;
  margin-left: auto;
}
.subscribe_block .txt .t1 {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 60px;
  color: #ffffff;
}
.subscribe_block .txt .subscription_form {
  margin-top: 25px;
  display: flex;
}
.subscribe_block .txt .subscription_form input {
  flex-grow: 1;
  padding: 10px 0;
  background: transparent;
  outline: none;
  border-bottom: 1px solid #9ad523;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe_block .txt .subscription_form input::placeholder {
  transition: all ease 0.2s;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe_block .txt .subscription_form input:focus::placeholder {
  transform: translate(-100%, 0px);
}
.subscribe_block .txt .subscription_form button {
  padding: 12px 10px;
  margin-left: 48px;
  background: #ff6600;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  transition: all ease 0.2s;
}
.subscribe_block .txt .subscription_form button:hover {
  background: #d15400;
}
.subscribe_block .txt::before {
  content: url(../img/subscr_before.svg);
  position: absolute;
  left: -80px;
  top: 75px;
}
